{{define "content"}}
<section class="text-white">
    <div class="mx-auto max-w-screen-xl px-4 py-4 lg:flex lg:h-screen">
        <div class="h-full flex w-full">
            {{include "user/sidebar"}}
        
            <div class="flex flex-col w-full">
                <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
                    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="overflow-hidden">
                            <h1 class="text-xl">Create Post</h1>
                            <hr>
                            <form action="/home/posts/create" method="post" enctype="multipart/form-data">
                                <div class="mt-2 flex gap-4">
                                    <label for="title" class="text-sm mt-1.5">Title: </label>
                                    <input type="text" id="title" required name="title" class="w-full rounded h-8 text-black">
                                </div>
                                <div class="mt-2 flex gap-3.5">
                                    <label for="desc" class="text-sm mt-1.5">Desc: </label>
                                    <textarea type="text" id="desc" name="desc" class="w-full resize-y rounded h-8 text-black"  rows="40"> </textarea>
                                </div>
    
                                <div class="mt-2 flex gap-2">
                                    <label for="music" class="text-sm mt-1.5">Music: </label>
                                    <input type="text" id="music" name="music" placeholder="Url" required class="w-full rounded h-8 text-black">
                                </div>
                                <div class="mt-2 flex gap-3">
                                    <label for="type_of_post" class="text-sm mt-1.5">Type: </label>
                                    <div class="w-full">
                                        <div class="flex gap-2">
                                            <input type="radio" onclick="change_type_of_most('slideshow')" id="slideshow" name="type_of_post" required value="slideshow" checked class="rounded h-8 text-black" >
                                            <label for="slideshow" class="text-sm mt-2"> Slideshow </label>
                                        </div>
                                        <div class="flex gap-2">
                                            <input type="radio" onclick="change_type_of_most('video')" id="video" name="type_of_post" value="video" required class="rounded h-8 text-black" >
                                            <label for="video" class="text-sm mt-2"> Video </label>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="mt-2 flex gap-4">
                                    <label for="files" class="text-sm mt-1.5">Files: </label>
                                    <div class="w-full bg-white pt-0.5" id="file_container">
                                        <input type="file" id="files" name="files" class="w-full rounded h-8 text-black" accept="image/png" required multiple="multiple">
                                    </div>
                                </div>
                                <div class="flex justify-center">
                                    <button class="mt-2 rounded-md bg-blue-600 px-10 py-2.5 text-sm font-medium text-white shadow">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<script>
    function change_type_of_most(post_type){
        var file_selector = document.getElementById("file_container");
        while (file_selector.firstChild) {
            file_selector.removeChild(file_selector.firstChild);
        }
        var text = document.createElement('div');
        
        text.innerHTML = `<input type="file" id="files" name="files" class="w-full rounded h-8 text-black" ${post_type == "slideshow"? 'accept="image/png" multiple="multiple"': 'accept="video/mp4"'} required >`

        file_selector.appendChild(text)
    }
</script>

{{end}}