{{define "content"}}
<section class="text-white">
    <div class="mx-auto max-w-screen-xl px-4 py-4 lg:flex lg:h-screen">
        <div class="h-full flex w-full">
            {{include "user/sidebar"}}

            <div class="flex flex-col w-full">
                <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
                    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="overflow-hidden">
                            <div class="flex justify-end mb-5">
                                <div id="create_name" class="rounded-md bg-white hover:bg-blue-600 px-5 py-2.5 text-sm font-medium text-black hover:text-white shadow cursor-pointer" onclick="toggle()">
                                    Create Proxy
                                </div>
                            </div>
                            <div id="add_name_form" class="hidden">
                                <p class="text-sm font-medium">Add new Proxy</p>
                                <form action="/home/proxy/create" class="flex gap-2 pb-4" method="post">
                                    <input type="text" placeholder="New Url" name="url" required class="w-full rounded text-black"
                                        id="url">
                                    <button
                                        class="focus:ring-2 focus:ring-offset-2 focus:ring-blue-300 text-sm leading-none text-white py-3 px-5 bg-blue-900 rounded hover:bg-blue-800 focus:outline-none">Add</button>
                                </form>
                            </div>
                            <table class="min-w-full">
                                <thead class="bg-gray-800 border-b border-black">
                                    <tr>
                                        <th scope="col" class="text-sm font-medium px-6 py-4 text-left">
                                            ID
                                        </th>
                                        <th scope="col" class="text-sm font-medium px-6 py-4 text-left">
                                            Url
                                        </th>
                                        <th scope="col" class="text-sm font-medium px-6 py-4 text-left">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="mt-5">
                                    {{range .proxies}}
                                    <tr
                                        class=" border-b border-black transition duration-300 ease-in-out  {{if .NotWorking}}bg-red-700 hover:bg-red-600{{else}}bg-gray-700 hover:bg-gray-600{{end}}">
                                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">{{.Id}}</td>
                                        <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                                            {{.Url}}
                                        </td>
                                        <td class="text-sm font-light px-6 py-4 whitespace-nowrap">
                                            <!-- <a href="/home/posts/delete/{{.Id}}"
                                                class="focus:ring-2 focus:ring-offset-2 focus:ring-red-300 text-sm leading-none text-white py-3 px-5 bg-red-900 rounded hover:bg-red-800 focus:outline-none">Delete</a> -->
                                            <a href="/home/proxy/refresh/{{.Id}}"
                                                class="focus:ring-2 focus:ring-offset-2 focus:ring-blue-300 text-sm leading-none text-white py-3 px-5 bg-blue-900 rounded hover:bg-blue-800 focus:outline-none">Refresh</a>
                                        </td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    showing_ = false
    function toggle() {
        $('#add_name_form').toggle("slide");
        showing_ = !showing_

        if(showing_){
            $("#create_name").text("X")
        }else{
            $("#create_name").text("Create Proxy")
        }
    }

</script>

{{end}}